@import "_mixins.scss";
@import "_variables.scss";

.app-about {
    height: 70vh;
    @include flex-center-mobile;
    padding: 20px;

    .app-about--h1 {
        @include h1-primary;
    }

    .app-about--p {
        letter-spacing: 1px;
        font-family: 'Roboto', sans-serif;

        .app-about--p__bold {
            font-weight: bold;
        }
    }
}