@import "_mixins.scss";
@import "_variables.scss";

.app-about {
    height: 90vh;
    @include flex-center-mobile;
    padding: 20px;

    .app-about--h1 {
        @include h1-primary;
        opacity: 0;
        transition: .5s;
        transform: translateX(-20px);
    }

    .app-about--p {
        letter-spacing: 2px;
        font-family: 'Roboto', sans-serif;
        transition: .5s;
        opacity: 0;
        transform: translateX(20px);
        padding: 20px;

        .app-about--p__bold {
            font-weight: bold;
        }
    }

    .app-about--h1__active {
        opacity: 1;
        transform: translateX(0);
    }

    .app-about--p__active {
        opacity: 1;
        transform: translateX(0);
    }
}

//PORTRAIT
@media (min-width: 321px) {
    .app-about {
        height: 70vh;
    }
}

@media (min-width: 361px) {
    .app-about {
        height: 60vh;
    }
}

@media (min-width:768px) {
    .app-about {
        height: 60vh;

        .app-about--h1 {
            font-size: 50px;
            margin: 0;
        }

        .app-about--p {
            padding: 60px;
            margin: 0 auto;
            font-size: 20px;
        }
    }
}

//LANDSCAPE
@media (min-width: 321px) and (orientation: landscape) {
    .app-about {
        height: 80vh;
    }
}

@media (min-width: 768px) and (orientation: landscape) {
    .app-about {
        height: 120vh;
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .app-about {
        height: 70vh;
    }
}