@import "_mixins.scss";
@import "_variables.scss";

.app-footer {
    height: 50vh;
    @include flex-center-mobile;
    padding: 15px;


    .h1--primary {
        @include h1-primary;
    }

    .app-footer--div {
        display: flex;

        .app-footer--link {
            text-decoration: none;
            cursor: pointer;

            .fa-github {
                color: black;
            }

            .fa-linkedin {
                color: rgb(0, 119, 181);
            }

            .fa-envelope {
                color: black;
            }

            .app-footer--icons {
                margin: 30px;
                font-size: 40px;
            }
        }
    }
}

@media (min-width: 360px) {
    .app-footer {
        height: 40vh;

        .h1--primary {
            font-size: 40px;
        }
    }
}

@media (min-width: 768px) {
    .app-footer {
        height: 30vh;

        .h1--primary {
            font-size: 50px;
        }

        .app-footer--div {
            .app-footer--link {
                .app-footer--icons {
                    font-size: 60px;
                }
            }
        }
    }
}