@import "_mixins.scss";
@import "_variables.scss";

.app-header {
    height: 100vh;
    background: url(../images/hero-image.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-size: 35px;
    @include flex-center;
    position: relative;

    .app-header--text {
        width: 100%;
        background-color: rgba(0, 0, 0, .6);
        position: absolute;
        padding: 5px;
        top: 35%;
        @include flex-center-mobile;

        .app-header--h1 {
            font-size: 40px;
        }
    }

    .fas {
        font-size: 50px;
        position: absolute;
        bottom: 7%;
        animation: up-down-arrow linear 1s infinite;
    }
}

//KEYFRAMES 
@keyframes up-down-arrow {
    0% {
        transform: translateY(-30%);
    }

    50% {
        transform: translateY(30%);
    }

    100% {
        transform: translateY(-30%);
    }
}

@media (min-width: 768px) and (orientation: portrait) {
    .app-header {
        .app-header--text {
            .app-header--h1 {
                font-size: 80px;
            }
        }

        .app-header--typing {
            #typed-strings {
                font-size: 50px;
            }
        }
    }
}

@media (min-width: 1024px) {
    .app-header {
        .app-header--text {
            .app-header--h1 {
                font-size: 80px;
            }
        }
    }
}

//LANDSCAPE 
@media (min-width: 320px) and (orientation: landscape) {
    .app-header {
        .app-header--text {
            .app-header--h1 {
                font-size: 50px;
            }
        }

        .fas {
            font-size: 30px;
        }

        .app-header--typing {
            position: absolute;
            top: 60%;
        }
    }
}

@media (min-width: 1024px) and (orientation: landscape) {
    .app-header {
        .fas {
            font-size: 50px;
        }

        .app-header--typing {
            position: absolute;
            top: 50%;
        }
    }
}