@import "_mixins.scss";
@import "_variables.scss";

.app-skills {
    @include flex-center-mobile;
    padding: 20px;

    .h1--primary {
        @include h1-primary;

    }

    .app-skills--knowledge {
        font-size: 20px;
        font-family: 'Ubuntu', sans-serif;
        margin: 40px;
    }

    .container {


        .app-skills--div {


            img {
                width: 70px;
                margin: 15px 8px;
            }

            .app-skills--p {
                font-family: 'Roboto', sans-serif;
                letter-spacing: 1px;
            }
        }
    }

}

//PORTRAIT
@media (min-width: 321px) {
    .app-skills {

        .h1--primary {
            font-size: 40px;

        }
    }
}

@media (min-width: 361px) {
    .app-skills {

        .h1--primary {
            font-size: 50px;

        }

        .app-skills--knowledge {
            font-size: 30px;
        }
    }
}

@media (min-width: 1024px) {
    .app-skills {
        padding: 50px;

        .h1--primary {
            font-size: 50px;
            margin: 0 0 80px;

        }

        .app-skills--knowledge {
            font-size: 30px;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .app-skills--div {
                flex-basis: 30%;
                display: flex;
                flex-direction: column;

                img {
                    width: 100px;
                    margin: 15px auto;
                    filter: grayscale(100%);
                    transition: .2s;
                }

                &:hover img {
                    filter: grayscale(0);
                }

                .app-skills--div_row {
                    margin: 0 auto;
                }

                .app-skills--p {
                    padding: 40px;
                }
            }
        }

    }
}