@import "_mixins.scss";
@import "_variables.scss";

.app-footer {
    height: 50vh;
    @include flex-center-mobile;
    padding: 15px;


    .h1--primary {
        @include h1-primary;
    }

    .app-footer--h1 {
        opacity: 0;
        transition: .8s;

        &.app-footer--h1__active {
            opacity: 1;
        }
    }

    .app-footer--div {
        display: flex;

        .app-footer--link {
            text-decoration: none;
            cursor: pointer;
            opacity: 0;
            transition: .8s;

            .fa-github {
                color: black;
            }

            .fa-linkedin {
                color: rgb(0, 119, 181);
            }

            .fa-envelope {
                color: black;
            }

            .app-footer--icons {
                margin: 30px;
                font-size: 40px;

                &:hover {
                    animation: shake-icons 1s linear infinite;
                }
            }

            &.app-footer--link__active {
                opacity: 1;
            }
        }
    }
}

//ANIMATION
@keyframes shake-icons {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

//MEDIA 
@media (min-width: 360px) {
    .app-footer {
        height: 50vh;

        .h1--primary {
            font-size: 40px;
        }
    }
}

@media (min-width: 768px) {
    .app-footer {
        height: 40vh;

        .h1--primary {
            font-size: 50px;
        }

        .app-footer--div {
            .app-footer--link {
                .app-footer--icons {
                    font-size: 60px;
                }
            }
        }
    }
}